/* header */
header {
  display: block;
  
  height: 5vh;
  background-color: #eee;
  padding: 5px;
  margin-bottom: 10px;
}

/* all beer */
.beer {
  display: flex;
  padding: 25px;
  align-items: center;
}

/* one beer */
.flex-items{
  flex-direction: row;
}

/* new beer */

form{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
}

input {
  margin: 10px;
  font-size: 15px;
  height: 30px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  outline: none;
}

button{
  width: 100px;
  padding: 5px;

}